@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Inter:wght@400;500;600;700&family=Nunito:wght@700&display=swap');

:root {
  --brand1: hsl(230, 57%, 50%);
  --brand2: hsl(230, 68%, 54%);
  --grey1: hsl(210, 11%, 15%);
  --grey2: hsl(210, 10%, 23%);
  --grey3: hsl(210, 9%, 31%);
  --grey4: hsl(210, 7%, 56%);
  --grey5: hsl(210, 11%, 71%);
  --grey6: hsl(210, 16%, 93%);
  --grey7: hsl(210, 17%, 95%);
  --grey8: hsl(210, 17%, 98%);
  --grey9: hsl(200, 100%, 99%);
  --alert1: hsl(349, 57%, 50%);
  --alert2: hsl(349, 69%, 55%);
  --success1: hsl(162, 88%, 26%);
  --box-shadow: 0px 4px 40px -12px rgba(0, 0, 0, 0.25);
  --modal-wrap: rgba(30, 30, 30, 0.5);
  --modal-box-shadow: 0px 4px 30px -12px rgba(0, 0, 0, 0.1);

  --font-family: 'IBM Plex Sans', sans-serif;
  --font-modal-close: 'Nunito', sans-serif;
  --font-1: 2rem;
  --font-2: 1.5rem;
  --font-3: 1.25rem;
  --font-4: 1rem;
  --font-5: 0.875rem;

  --font-height: 150%;
  --modal-text-height: 21px;

  --weight-highbold: 700;
  --weight-bold: 600;
  --weight-semibold: 500;
  --weight-regular: 400;

  --btn-padding-primary: 7px 16px;
  --btn-padding-medium: 0px 8px;
  --btn-radius: 4px;
  --btn-border: 1px solid;
  --btn-font: 'IBM Plex Sans', sans-serif;
  
  --radius-round: 100%;

  --input-radius: 4px;
  --input-font: 'IBM Plex Sans', sans-serif;

  --section-form-padding: 44px 24px;
}

body {
  font-family: var(--font-family);
  line-height: var(--font-height);
  padding-bottom: 20px;
}